body{
    margin: 1%;
    padding: 1%;
}

header{
    background-color: #0000ff;
    background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
    background-size: cover;
    padding: 2% 3% 2% 3%;
}

h1{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 120%;
}

nav a{
    display: inline-block;
    width: 15%;
    margin: 0 3% 2% 3%;
    padding: 1.5%;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-weight: bold;
} 
.active, a:hover{
    color: #0000ff;
    background-color: #ffffff;
}

.left{
    display: inline-block;
    width: 18%;
    height: 100vh;
    float: left;
    background-color: #747d20;
    overflow: auto;
}

.right{
    display: inline-block;
    width: 75%;
    height: 100vh;
    float: left;
    margin-left: 1%;
    overflow: auto;

}

img{
    display: block;
    width: 70%;
    border: solid 2px #000000;
    margin: 0 auto;
    margin-top: 12%;
    margin-bottom: 12%;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    align-self: center;
    background-color:rgba(255,255,255,0.7); 
    border:hidden;
    border-color: #000000;
}

th{ 
    padding-top: 2px;
    padding-bottom: 2px; 
    border-bottom: thick;
    border-radius: 4px 4px 0 0;
    background-color: #747d20;
    color: #ffffff;
}
td{  
    text-align: center;
    background-color: #e5f8d2; 
    margin: 2px;
    padding: 5px;
}
td:first-child{
    text-align: left;
}

tr:hover{
    opacity: .8;
    
}
.hover-bt{
    
}

.hover-bt:hover{
    background-color: #747d20;
    box-shadow: 0 5px 5px 0 rgb(8, 6, 6);
}